body {
  color: black;
  background: #e2e3e5 url("../images/cooking.jpeg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  text-align: left;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding: 0px 0px 400px 0px; }
  body h1 {
    text-align: center; }
  body h2 {
    text-align: center;
    font-family: cursive; }
  body * {
    box-sizing: border-box; }
  body .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; }
  body .row:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 600px) {
    body .column {
      width: 100%; } }
  body ul {
    text-align: left; }
  body .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto; }
